---
layout: default
current: estudios
class: 'home-template'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer {% if page.cover or site.cover %}" style="background-image:  url({{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %}) {% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo %}
                <img style="border-radius: 10px;width: 100px;-webkit-user-select: none;margin: auto;cursor: zoom-in;height: 100px;" src="https://scontent.fgye6-1.fna.fbcdn.net/v/t1.15752-9/117647496_351647425846309_7529973339409492699_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=cTauvXjR-mwAX_TgLjs&_nc_ht=scontent.fgye6-1.fna&oh=9b89ac160a34a460c630587844419bf5&oe=5F5E9E26" width="100" height="100">
                   
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <h2 class="post-card-title">Axell Castro.</h2>
              <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    
    
    
    
    
    
    <div class="inner">
        
        
        
        
        
        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            


    <article class="post-card home-template">
        
            <a class="post-card-image-link" href="/#">
                <div class="post-card-image" style="background-image: url(https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2020/05/universidad_de_guayaquil_fachada_0.jpg?itok=7Paz08PK)"></div>
            </a>
        
        <div class="post-card-content">
            <a class="post-card-content-link" href="/#">
                <header class="post-card-header">
                    
                        
                            
                                <span class="post-card-tags"> </span>
                            
                        
                    

                    <h2 class="post-card-title">Estudios</h2>
                </header>
                <section class="post-card-excerpt">
                    
                        <blockquote>
  <p>
    </p><h3>Ámbito academico</h3> <br>
      2008-2010 (ESCUELA VICTOR EMILILIO ESTRADA) <br>
      2010-2014 (ESCUELA NUEVAS ESPERANZAS DEL MILENUM)<br>
2014-2015 (COLEGIO AMERICANO DE NACIONES)<br>
2016-2016 unos meses (COLEGIO DOMINGO COMIN)<br>
2016-2019 (COLEGIO SAN AGUSTIN)<br>
2019-ACT (UNIVERSIDAD ESTATAL DE GUAYAQUIL)<br>
  <p></p>
               
</blockquote>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                
                    
                        
                        
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                <span class="reading-time">
                    
                    
                  
                    
                </span>
            </footer>
        </div>
    </article>



        </div>
        
        
        
        
        
        
        

        <article class="post-full post page no-image">

            <header class="post-full-header">
                <h1 class="post-full-title">¿Quien Soy?</h1>
            </header>

            

            <section class="post-full-content">

<p> .</p>
            </section>

        </article>

    </div>

    </div>
</main>
